<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">REAL.AGENT</h1>
    <p class="lead">Finding an agent should be easy.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Actions speak louder than words, and we understand that. Real.Agent lets clients see a realtors previous sells, and buys. 
    </div>
    <div class="col-sm">
      Trust is good, but control is better. We give the client the ability to read real reviews by clients who have experience with an agent. 
    </div>
    <div class="col-sm">
      You have options. Why settle with any realtor, when you can choose from hundreds of local agents.
    </div>
  </div>
</div>
<div class="hello">
  <img src="https://wp.zillowstatic.com/8/shutterstock_329026565-583a1d-300x200.jpg" width = "350px">
</div>

<div class="container">
  <div class="row">
    <div class="row">Real.Agent will ensure you the quality results you deserve. Buying a home is one of the most important purchases you will ever make in your life. We believe you should feel good about who is going to be with you along the way.</div>
        <div class="w-100"></div>
    
    
  </div>
</div>